<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="sass/main.css">
  <title>Drizzle</title>

</head>
<body>
  <header>

  </header>
  {{{body}}}


  <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
  <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
  <script src="https://use.typekit.net/vvn3kue.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>
  <script src="js/scripts.js">
    
  </script>
</body>
</html>
