/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box;
  transition: .3s; }

body {
  color: #797e83;
  font-size: 16px;
  line-height: 1.5;
  font-family: "proxima-nova"; }

a {
  color: #656a6e; }

p {
  font-size: 1.125em;
  line-height: 1.5;
  margin: 0 0 1.66667em;
  font-weight: 300; }

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none; }

html,
body {
  height: 100%;
  width: 100%;
  font-size: 14px;
  font-family: "jaf-facitweb", sans-serif;
  font-style: normal;
  font-weight: 400; }

.container {
  height: 100%;
  width: 100%;
  display: flex; }
  @media (max-width: 650px) {
    .container {
      flex-direction: column; }
      .container .search-container,
      .container .degree-container {
        width: 100%;
        height: 50%; } }

.search-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  height: 100%; }
  .search-container form {
    display: flex;
    justify-content: center;
    width: 40%; }
    .search-container form input {
      color: #ababab;
      font-weight: 400;
      padding: .5rem .5rem .5rem .75rem;
      width: 80%;
      outline: none;
      font-size: 18px;
      border: 0;
      border-bottom: 5px solid #222; }
      .search-container form input:focus {
        color: #444;
        background-color: #f0f0f0;
        border-bottom: 5px solid #888; }
  .search-container .search-results {
    width: 60%;
    height: 100%;
    overflow: auto; }
    .search-container .search-results .search-results__list {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: flex-start; }
      .search-container .search-results .search-results__list li {
        border-left: 5px solid transparent;
        display: flex;
        align-items: center; }
        .search-container .search-results .search-results__list li:hover {
          border-left: 5px solid #222;
          color: #444;
          background-color: #f0f0f0; }
      .search-container .search-results .search-results__list a {
        display: inline-block;
        height: 100%;
        width: 100%;
        padding: .75rem 0 .75rem 1rem;
        text-decoration: none;
        color: #222;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis; }

.degree-container {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  width: 50%;
  height: 100%;
  background-color: #222; }
  .degree-container .day-container {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    justify-content: center; }
  .degree-container .day {
    width: 40px;
    margin-left: .5rem;
    justify-content: flex-end;
    align-items: flex-end;
    display: flex; }
  .degree-container .max,
  .degree-container .min {
    position: relative;
    height: auto;
    width: 20px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    transform-origin: bottom; }
    .degree-container .max:hover,
    .degree-container .min:hover {
      transform: scaleY(1.3); }
  .degree-container .min {
    background-color: #14BDEB; }
  .degree-container .max {
    background-color: #FEC601; }
  .degree-container .degree {
    position: absolute;
    bottom: -20px;
    left: 2px;
    font-size: .8rem;
    color: #fff; }

/*# sourceMappingURL=main.css.map */
