@import 'reset', 'variables';

html,
body {
    height: 100%;
    width: 100%;
    font-size: 14px;
    font-family: "jaf-facitweb", sans-serif;
    font-style: normal;
    font-weight: 400;
}

.container {
    height: 100%;
    width: 100%;
    display: flex;

    @media (max-width: 650px) {
        flex-direction: column;

        .search-container,
        .degree-container {
            width: 100%;
            height: 50%;
        }
    }
}

.search-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    height: 100%;


    form {
        display: flex;
        justify-content: center;
        width: 40%;

        input {
            color: #ababab;
            font-weight: 400;
            padding: .5rem .5rem .5rem .75rem;
            width: 80%;
            outline: none;
            font-size: 18px;
            border: 0;
            border-bottom: 5px solid #222;

            &:focus {
                color: #444;
                background-color: #f0f0f0;
                border-bottom: 5px solid #888;
            }
        }
    }

    .search-results {
        width: 60%;
        height: 100%;
        overflow: auto;

        .search-results__list {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: flex-start;

            li {
                border-left: 5px solid transparent;
                display: flex;
                align-items: center;

                &:hover {
                    border-left: 5px solid #222;
                    color: #444;
                    background-color: #f0f0f0;
                }


            }

            a {
                display: inline-block;
                height: 100%;
                width: 100%;
                padding: .75rem 0 .75rem 1rem;
                text-decoration: none;
                color: #222;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;


            }
        }


    }
}

.degree-container {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    width: 50%;
    height: 100%;
    background-color: #222;
    
    .day-container {
        height: 50%;
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-end;
        justify-content: center;
    }
    
    .day {
        width: 40px;
        margin-left: .5rem;
        justify-content: flex-end;
        align-items: flex-end;
        display: flex;
    }
    
    .max,
    .min {
        position: relative;
        height: auto;
	    width: 20px;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        transform-origin: bottom; 
        
        &:hover {
            transform: scaleY(1.3);

        }
    }
    
    .min {
        
        background-color: #14BDEB;
    }
    
    .max {
        background-color: #FEC601;
    }
    
    .degree {
        position: absolute;
        bottom: -20px;
        left: 2px;
        font-size: .8rem;
        color: #fff;
    }
}
