<div class="container">
    <div class="search-container">
        <form class="form">
          <input type="text" id="search" name="search" autocomplete="off" placeholder="Enter a city">
        </form>
          <div class="search-results">
          </div>
    </div>

    <div class="degree-container">
        <div class="day-container">
            
        </div>
    </div>
</div>
